<%= link_to "Back to list", tasks_path %>
<%# <%= link_to "Edit", edit_restaurant_path(@restaurant) %>

<h1>task</h1>

<p>Title: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>
<p>Completed ? <%= @task.completed %></p>

<%= link_to "Edith this list", task_restaurant_path %></li>
